.header {
    background: #ffffff
    border:  #cccccc
}
body {
    background-color: white;
  }
  h1 {
    color:#4aaaa5;
  }
  p1 {
    color:#777777;
  }
 
  
.main {
    text-align: center;
}
.imp {
        font-weight: bold;
}
.ilt {
            font-family: Arial, Helvetica, sans-serif;
        }
.orange {
            color: orange;
}
.styledFont {
    color: green;
}
img {
    border: 10px solid orange;
    border-radius: 4px;
  }