* {
max-width: 960px;
margin: auto;

  

}

header {
  background: #ffffff;
  border-style: none none solid ;
  border-color:  #cccccc ;
  width: 100%;
  overflow: auto;
  padding: 0px 0px 20px;
}

.header-left {
  padding: 5px;
  background: #4aaaa5;
  width: 25%;
  float: left;
}
.header-right {
  float: right;
  text-decoration: none;
  
}
a:link {
  text-decoration: none;
}
body {
    background-color: white;
    border-style: solid ;
    border-color: #dddddd
  
  }
  h0 {
    font-size: 32px ;
    color: #ffffff ;
    background-color: #4aaaa5
  }
  h1 {
    color:#4aaaa5;
  }
  h2 {
    text-decoration: none;
  }
  p1 {
    color:#777777;
  }  
  p2 {
    color:#777777;
    text-align: right
  }
 
  
.main {
    text-align: center;
}
.imp {
        font-weight: bold;
}
.ilt {
            font-family: Arial, Helvetica, sans-serif;
        }
.orange {
            color: orange;
}
.styledFont {
    color: green;
}
img {
    border: 10px solid orange;
    border-radius: 4px;
  }